{% extends "base.html" %}
{% block main %}


<br>
<h1 class='page-header'>Properties</h1>

<br>

{% include 'flash_messages.html' %}
<div class="row" >

    {% for property in properties%}
        <div class="card">
          
            <img class="images" src= "{{ url_for('get_image', filename=property.filename) }}">
            <div class='card-body'>
                <h5>{{property.title}}</h5>
                <p class="greytext">{{property.location}}</p>             
                <span class="price">{{property.price}}</span>
                <a href="{{ url_for('propertyid', propertyid=property.id) }}" class="btn btn-info">View Property</a>
            </div>
        
        </div>
    <br>
    {% endfor %}
</div>


{% endblock %}